.vehicle-card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; /* Opcional: puedes quitarlo si usas gap en el padre */
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    color: #333;
}

.vehicle-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.vehicle-card-image-container {
    width: 100px;
    height: 100px;
    min-width: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px; /* Para un look más moderno */
    overflow: hidden;
}

.vehicle-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vehicle-placeholder-icon {
    font-size: 30px;
    color: #95a5a6;
}

.vehicle-card-info {
    text-align: left;
}

.vehicle-card-info h3 {
    margin: 0 0 5px 0;
    color: #2c3e50;
    font-size: 1.1em;
}

.vehicle-card-info p {
    margin: 0;
    color: #7f8c8d;
    font-size: 0.9em;
}
